#main-header{
	position: relative;
	width: 100%;
	height: 320px;
	font-size: 1.25rem;
	color: $cl-black;
	background-image: url('../assets/images/compass.png'),
					url('../assets/images/header-small.jpg');
	background-position: 120% center, 84% 0;
	background-repeat: no-repeat, no-repeat;
	background-size: 34%, cover;
	overflow: hidden;
	h1{
		font-size: 1.25em;
		text-align: right;
		margin: 0;
		padding: 0 0.75em;
		padding-top: 1.45em;
		padding-bottom: 0.85;
	}
	p{
		font-size: 0.92em;
		text-align: right;
		padding-right: 0.75em;
		padding-left: 14em;
	}
}

#main-header-overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: $cl-white;
	opacity: 0.4;
}

@media screen and (min-width: 600px){
	#main-header{
		p{
			padding-left: 18em;
		}
	}
}

@media screen and (min-width: 720px){
	#main-header{
		background-image: url('../assets/images/compass.png'), 
			url('../assets/images/header-medium.jpg');
		background-position: 110% center, 84% 0;
		background-size: 22%, cover;
		

		p{
			text-align: center;
			padding-left: 24em;
		}
	}
}

@media screen and (min-width: 980px){
	#main-header{
		background-image: url('../assets/images/compass.png'), 
			url('../assets/images/header-big.jpg');
		background-position: 110% center, 0 -10px;
		height: 480px;
		h1{
			font-size: 1.75em;
		}
		p{
			text-align: center;
			padding-left: 28em;
		}
	}
}

@media screen and (min-width: 1020px){
	#main-header{
		height: 510px;
		p{
			padding-left: 34em;
		}
	}
}

@media screen and (min-width: 1260px){
	#main-header{
		background-position: 110% center, 0 -80px;
		h1{
			padding-right: 3em;
		}
		p{
			padding-left: 42em;
		}
	}
}

.container{
	
}

#news-events, #headline, #team{
	padding-top: 2rem;
}

#headline{
	padding-left: 1rem;
	padding-right: 1rem;
	padding-bottom: 4em;
}

#news-events{
	width: 200%;
	background-color: $cl-black;
	color: $cl-white;
	overflow: hidden;
	transition: margin-left 0.2s;
	.date{
		position: relative;
		color: #717171;
		font-size: 0.9em;
		font-weight: 700;
		margin-left: 40px;
		margin-bottom: 1em;
	}

	.date:before{
		position: absolute;
		bottom: 0;
		left: -40px;
		content: url('../assets/icons/icon-date.png');
		width: 29px;
		height: 29px;
	}

	.news-container{
		font-size: 1rem;
		float: left;
		//padding-left: 1rem;
		//padding-right: 1rem;
	}

	.events-container{
		font-size: 1rem;
		float: right;
		//padding-left: 1rem;
		//padding-right: 1rem;

		h4{
			color: $cl-primary;
		}

		h5{
			color: $cl-grey;
		}
	}

	.content-block{
		padding-top: 2rem;
		padding-left: 1rem;
		padding-right: 1rem;
		height: 200px;

		p{
			margin-top: 0.5em;
			font-size: 0.9rem;
		}
	}

	.image-block-full{
		height: 200px;

		.image-block{
			height: 100%;
			background-size: cover;
			background-repeat: no-repeat;
		}
	}

	.image-block-half{
		height: 200px;

		.image-block{
			height: 100%;
		}
	}

	.image-block-half > div{
		width: 50%;
		float: left;
	}
	.more-news, .more-events{
		height: 0px;
	}
}

#news-events.news-active{
	margin-left: 0;
}

#news-events.events-active{
	margin-left: -100%;
}

#news-events > .row{
	width: 50%;
	margin: 0;
}


#tabs{
	position: relative;
	display: block;
	width: 100%;
	font-size: 0;
	color: $cl-white;
	.tab{
		display: inline-block;
		width: 50%;
		padding: 1.2rem;
		text-align: center;
		font-size: 1rem;
		background: $cl-black;
		cursor: pointer;
		transition: background 0.3s ease-out;
		.tab-icon{
			margin: 0 auto;
			width: 34px;
			height: 34px;
		}
		.tab-text{
			padding-top: 0.5rem;
		}
	}
	.tab-active{
		background: $cl-primary;
	}
}

@media screen and (min-width: 400px){
	#tabs{
		.tab{
			font-size: 1.2rem;
		}
	}
}

@media screen and (min-width: 480px){
	#news-events{
		.content-block{
			height: 200px;

			p{

			}
		}
		.image-block-full{
			height: 240px;
		}

		.image-block-half{
			height: 240px;
		}
	}
}

@media screen and (min-width: 520px){
	#news-events{
		.content-block{
			height: 240px;

			p{

			}
		}
		.image-block-full{
			height: 240px;
		}

		.image-block-half{
			height: 240px;
		}
	}
}

@media screen and (min-width: 640px){
	#tabs{
		display: none;
	}
	#news-events{
	width: 100%;
	padding-top: 0;
	height: auto !important; 
	margin-left: 0 !important;
		.news-container{
			width: 50%;
			float: left;
			
			.one-half:nth-child(odd){
				color: $cl-black;
				background-color: $cl-body;
			}

			.one-half:nth-child(even){
				background-color: $cl-black;
			}
		}

		.events-container{
			width: 50%;
			float: right;

			.six{
				background-size: cover;
				background-repeat: none;
			}
			
			.six:first-child{
				color: $cl-black;
				background: url('../assets/images/event-bg-2.jpg');
			}

			.six:nth-child(2){
				color: $cl-black;
				background: url('../assets/images/event-bg-2.jpg');
			}

			h4{
				font-size: 1.3em;
			}

			h5{
				color: $cl-black;
			}
		}

		.one-half, .six{
			width: 100%;
			margin-left: 0;
		}

		.content-block{
			padding-top: 3em;
			height: 230px;
		}

		.image-block-full{
			height: 230px;

			.image-block{
				height: 100%;
			}
		}

		.image-block-half{
			height: 230px;

			.image-block{
				height: 100%;
			}
		}

		.more-news, .more-events{
			position: relative;
			background: $cl-black;
			height: 230px;
			display: table;

			div{
				display: table-row;
				text-align: center;
				vertical-align: middle;
				height: 50%;
			}
		}

		.more-news{
			// background: url('../assets/images/news-bg-1.jpg');
			background-repeat: no-repeat;
			background-size: contain;
			border-right: 1px solid $cl-white;
			.more-news-icon{
				span{
					margin-top: 60px;
					display: inline-block;
					width: 41px;
					height: 41px;
					background: url('../assets/icons/icon-news.png');
					background-repeat: no-repeat;
					background-size: contain;
				}
				
			}
		}

		.more-events{
			border-left: 1px solid $cl-white;
			.more-events-icon{
				span{
					margin-top: 60px;
					display: inline-block;
					width: 41px;
					height: 41px;
					background: url('../assets/icons/icon-events.png');
					background-repeat: no-repeat;
					background-size: contain;
				}
			}
		}
	}
}

@media screen and (min-width: 820px){
	#news-events{
		.news-container{
			
		}

		.events-container{
			
		}

		.one-half{
			width: 50%;
			margin-left: 0;
		}

		.image-block-full{
			height: 500px;
		}

		.content-block{
			height: 250px;
		}

		.image-block-half{
			height: 250px;
		}

		.more-news, .more-events{
			height: 260px;
		}

		.more-news{
			.more-news-icon{
				span{
					margin-top: 60px;
				}
				
			}
		}

		.more-events{
			.more-events-icon{
				span{
					margin-top: 60px;
				}
			}
		}

	}
}

#tab-news > .tab-icon{
	background: url('../assets/icons/icon-news.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

#tab-events > .tab-icon{
	background: url('../assets/icons/icon-events.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#headline{
	display: block;
	position: relative;
	background-color: $cl-white;
	font-size: 1rem;
	article{
		padding-bottom: 6em;
		max-width: 1000px;
		margin: 0 auto;
		h2, h5{
			text-align: center;
		}
		

		p{	

			-webkit-column-count: 1;
     		-moz-column-count: 1;
          	column-count: 1;

		}

		
	}
}

@media screen and (min-width: 640px){
	#headline{
		article{
			p{
				-webkit-column-count: 2;
	 			-moz-column-count: 2;
	      		column-count: 2;
			}
		}
	}
}

.timeline{
	position: absolute;
	width: 100%;
	height: 8em;
	bottom: 0.8em;
	left: 0;
	z-index: 1;
	background: url('../assets/images/timeline.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

@media screen and (min-width: 520px){
	.timeline{
		background-size: 130%;
		bottom: 0.9em;
	}
	
}

@media screen and (min-width: 640px){
	.timeline{
		background-size: 130%;
		height: 10em;
		bottom: 0.85em;
	}
	
}

@media screen and (min-width: 740px){
	.timeline{
		background-size: cover;
		height: 13em;
		bottom: -1em;
		transform: skewY(+3deg);
	}
	
}

@media screen and (min-width: 850px){
	.timeline{
		background-size: contain;
		height: 15em;
		bottom: -2em;
		transform: skewY(+5deg);
	}
	
}

@media screen and (min-width: 980px){
	.timeline{
		background-size: contain;
		height: 19em;
		bottom: -3em;
		transform: skewY(+4deg);
	}
	
}

@media screen and (min-width: 1200px){
	.timeline{
		background-size: cover;
		height: 22em;
		bottom: -3.6em;
		transform: skewY(+3deg);
	}
	#headline{
		article{
			padding-bottom: 9em;
			h2, h5{
				text-align: center;
			}
		}
	}
}

#main-footer{
	position: relative;
	font-size: 1rem;
	.contact{
		background-color: $cl-white;
	}
	.sponsors{
		background-color: $cl-black;
	}
	.row{
		position: relative;
	}
}

#team{
	position: relative;
	background-color: $cl-black;
	font-size: 0.95rem;

	h2{
		//margin-top: 0;
	}
}

.team-skew{
	display: block;
	position: absolute;
	width: 100%;
	top: -38px;
	left: 0;
	height: 64px;
	transform: skewY(-6deg);
	background-color: $cl-black;
}

@media screen and (min-width: 515px){
	.team-skew{

		top: -38px;
		height: 64px;
		transform: skewY(-4deg);
	}
}

@media screen and (min-width: 515px){
	.team-skew{
		top: -36px;
		height: 64px;
		transform: skewY(-3deg);
	}
}

@media screen and (min-width: 1098px){
	.team-skew{
		top: -35px;
		height: 72px;
		transform: skewY(-3deg);
	}
}

.team-images{
	display: block;
	position: relative;
	width: 100%;
	
	margin: 0;
	padding: 0;
	margin-top: 3em;
	list-style: none;

	.team-image{
		display: block;
		position: relative;
		float: left;
		width: 50%;
		height: 180px;
		margin-right: 0;
		margin-left: 0;
		background-size: cover;
		background-repeat: no-repeat;

		.team-info{
			position: absolute;
			width: 100%;
			top: 0;
			left: 0;
			height: 100%;
			padding: 1em;
			padding-top: 3em;
			background-color: #e5eaee;
			opacity: 0;
			transition: opacity 0.3s;
			z-index: -1;
		}
	}

	.team-image:after{
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		background: $cl-black;
		opacity: 0.8;
		transition: opacity 0.2s;
	}

	.team-image.team-member-active:after{
		opacity: 0;
	}

	.team-image.team-member-active{
		.team-info{
			z-index: 10;
		}
	}

	.team-image.fade-left{
		.team-info{
			left: -100%;
			opacity: 1;
		}
	}

	.team-image.fade-right{
		.team-info{
			left: 100%;
			opacity: 1;
		}
	}

	.team-name{
		display: inline-block;
		width: 100%;
		height: auto;
		font-weight: 800;
	}

	.team-quote{
		display: inline-block;
		width: 100%;
		height: auto;
		font-size: 0.75em;
	}
}

@media screen and (min-width: 690px){
	.team-images{
		.team-image{
			width: 33.3%;
		}
	}
}

@media screen and (min-width: 820px){
	.team-images{
		.team-image{
			height: 220px;
			width: 20%;
		}
	}
}

.contact-container{
	
}

#contact{
	display: block;
	position: relative;
	width: 100%;
	padding: 1em 0;
	padding-top: 2.75em;
	font-size: 1.25rem;
	background: $cl-white;
	h4, h5{
		text-align: center;
		
	}
	fieldset{
		position: relative;
		width: 100%;
		border: none;
		padding: 0.35em 0.75em 0.75em;
		padding-bottom: 1.5em;

		input, textarea{
			width: 100%;
			font-size: 0.75em;
			line-height: 2em;
			background: $cl-grey;
			border: none;
			padding: 0.4em;
		}

		textarea{
			resize: none;
		}
	}
}

#contact-form{
	margin: 0;

	.required-error{
		position: absolute;
		bottom: 6px;
		left: 1.2em;
		display: none;
	    margin-top: 0;
	    color: $cl-primary;
	    font-weight: 300;
	    font-size: 0.65em;
	}
}

#contact-form-submit{
	margin: 0 0.95em;
	margin-top: 0.6em; 
}

#contact-form-submit:focused{
	outline: none;
}

#contact-form-submit.form-send{
    color: $cl-white;
	background-color: $cl-primary;
	border-color: $cl-primary;
}

#contact-form-submit.form-send:hover{
    color: $cl-white;
	background-color: $cl-primary;
	border-color: $cl-primary;
}


#sponsors{
	background: $cl-black;
	color: $cl-white;
	padding: 1em 0;
	.sponsors-images{
		display: block;
		position: relative;
		width: 100%;
		list-style: none;
		margin: 0;
		padding: 0;
		overflow: hidden;

		.sponsor-image{
			width: 50%;
			height: 10em;
			display: table;

			span{
				display: table-cell;
				text-align: center;
				vertical-align: middle;
			}
		}

		.sponsor-image:nth-child(odd){
			float: left;
		}

		.sponsor-image:nth-child(even){
			float: right;
		}
	}
}

#social{
	font-size: 0;
	.social-icon{
		display: inline-block;
		font-size: 1rem;
		padding: 2em;
		text-align: center;
		cursor: pointer;
		width: 50%;
		img{
			height: 32px;
		}
	}

	.icon-facebook{
		img{
			width: 16px;
		}
	}

	.icon-twitter{
		img{
			width: 40px;
		}
	}
}

@media screen and (min-width: 748px){
	#contact, #sponsors{
		width: 50%;
		height: 520px;
		float: left;
		padding-bottom: 2em;
	}
	#sponsors{
		padding-top: 2.75em;
	}
	#social{
		text-align: center;
		.social-icon{
			padding: 2em;
			text-align: center;
			width: auto;
			img{
				height: 32px;
			}
		}
	}
	.footer-skew{
		position: absolute;
		top: -28px;
		left: 0;
		width: 100%;
		font-size: 0;
		div{
			display: inline-block;
			width: 50%;
			height: 52px;
			background-color: $cl-body;
			transform: skewY(+6deg);
		}

		div:first-child{
			transform: skewY(-6deg);
		}
	}
}

@media screen and (min-width: 940px){
	.footer-skew{
		top: -28px;
		div{
			height: 54px;
			transform: skewY(+5deg);
		}
		div:first-child{
			transform: skewY(-5deg);
		}
	}
}

@media (#{$bp-larger-than-desktop}){
    #contact, #sponsors{
    	height: 540px;
		padding-bottom: 4em;
	}
}

@media screen and (min-width: 1150px){
	#main-footer{
		height: 900px;
	}
	#social, #sub-nav, #copyright{
		position: absolute;
		bottom: -90px;
		display: inline-block;
	}

	#social{
		left: 50%;
		transform: translateX(-50%);

		.social-icon{
			padding-top: 0;
			padding-bottom: 0.7em;
		}
	}

	#sub-nav{
		.sub-nav-items{
			font-size: 0.8em;
		}
	}

	#copyright{
		left: 0;
	}

	#sub-nav{
		right: 0;
	}

	.footer-skew{
		top: -25px;
		div{
			height: 56px;
			transform: skewY(+4deg);
		}
		div:first-child{
			transform: skewY(-4deg);
		}
	}
}


#sub-nav{
	//font-size: 1.3rem;
	padding-top: 1em;
}

.sub-nav-items{
	display: block;
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;

	.sub-nav-item{
		display: inline-block;
		position: relative;
		width: 100%;
		text-align: center;
		padding: 0.5em 0;
		a{
			position: relative;
			color: $cl-black;
			font-weight: 700;
			text-decoration: none;
		}
	}
}

@media screen and (min-width: 640px){
	.sub-nav-items{
		text-align: center;
		.sub-nav-item{
			width: auto;
			padding: 0.5em 1em;
		}
	}
}


#copyright{
	text-align: center;
	font-size: 0.8em;
	padding-top: 2em;
}