body{
	background-color: $cl-body;
}

.index{
	overflow: hidden;
	padding-top: 3.50rem;
}

.cl-primary{
	color: $cl-primary;
}

.cl-white{
	color: $cl-white;
}

.cl-black{
	color: $cl-black;
}

.clear{
	clear: both;
}


.button-medium{
	width: 10em;
	padding: 0.75em 0.4em;
  	font-size: 0.75em;
  	font-weight: 700;
    color: $cl-black;
    background-color: $cl-white;
    border: 2px solid $cl-black;
    text-align: center;
    @include transition(all 0.2s);
}

.button-medium:hover{
	color: $cl-white;
	background-color: $cl-primary;
	border-color: $cl-primary;
}
