body{
	background-color: $cl-body;
}

.index{
	overflow: hidden;
	padding-top: 3.50rem;
}

.cl-primary{
	color: $cl-primary;
}

.cl-white{
	color: $cl-white;
}

.cl-black{
	color: $cl-black;
}

.clear{
	clear: both;
}


