#main-nav{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 3.50rem;
	background-color: $cl-white;
	overflow: hidden;
	z-index: 1000;
	transition: height 0.2s, border-bottom 0.24s;
	.main-nav-bar{
		height: 3.50rem;
		overflow: hidden;
	}

	.mobile-nav{
		display: block;
		position: relative;
		

		.mobile-nav-items{

			list-style: none;
			margin: 0;
			padding: 0;
			padding-top: 1em;

			
			.mobile-nav-item{
				display: block;
				padding: 0.2em 0;
				padding-left: 0.57em;
				border-bottom: 1px solid $cl-black;
				a{
					color: $cl-black;
					text-decoration: none;
				}
			}
			.mobile-nav-item:last-child{
				
			}
		}

	}
}

#main-nav.toggle-nav{
	height: 17.15rem;
	border-bottom: 2px solid $cl-black;
}

#mobile-menu-toggle{
	position: relative;
	height: 100%;
	width: 2.333em;
	float: left;
	cursor: pointer;
	.mobile-menu-icon{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: url('../assets/icons/menu.svg');
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
	}
}

#logo{
	float: right;
	height: 100%;
	padding: 0.45em 0.75em;
	background: $cl-primary;
}

.index{
	
}

